In [114]:
from bs4 import BeautifulSoup
import requests
import time
import datetime
import smtplib
import csv

In [83]:
url = 'https://www.jumia.com.ng/vejaro-t10-mens-2-in-1-short-sleeve-t-shirt-shorts-set-whiteblack-95053134.html'
headers =  {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:53.0) Gecko/20100101 Firefox/53.0"}

In [84]:
page = requests.get(url, headers = headers)

In [85]:
soup1 = BeautifulSoup(page.content,'html.parser')

In [86]:
soup2 = BeautifulSoup(soup1.prettify(), 'html.parser')

In [111]:
title = soup2.find('h1', class_='-fs20 -pts -pbxs').get_text().strip()
price = soup2.find('span', class_='-b -ltr -tal -fs24').get_text().strip()[2:]

In [113]:
print(title)
print(price)

VEJARO T10  Men's 2 In 1 Short Sleeve T-Shirt & Shorts Set- White/Black
3,880

In [119]:
import datetime
today = datetime.date.today()
print(today)

2022-09-02

In [123]:
# csv file

header = ['Title','Price','Date']
data = [title,price,today]

with open('jumiawebscraper.csv', 'w', newline='', encoding = 'UTF8') as f:
    
    writer = csv.writer(f)
    writer.writerow(header)
    writer.writerow(data)

In [117]:
import datetime

datetime.date(2022, 9, 2)

In [118]:
today = datetime.date.today()
print(today)

2022-09-02

In [124]:
import pandas as pd

In [137]:
df = pd.read_csv('jumiawebscraper.csv')

In [127]:
df

                                               Title  Price        Date
0  VEJARO T10  Men's 2 In 1 Short Sleeve T-Shirt ...  3,880  2022-09-02

In [135]:
# appending data to the csv

with open('jumiawebscraper.csv', 'a+', newline='', encoding='UTF8') as f:
    writer = csv.writer(f)
    writer.writerow(data)

In [142]:
df

                                               Title  Price        Date
0  VEJARO T10  Men's 2 In 1 Short Sleeve T-Shirt ...  3,880  2022-09-02
1  VEJARO T10  Men's 2 In 1 Short Sleeve T-Shirt ...  3,880  2022-09-02
2  VEJARO T10  Men's 2 In 1 Short Sleeve T-Shirt ...  3,880  2022-09-02
3  VEJARO T10  Men's 2 In 1 Short Sleeve T-Shirt ...  3,880  2022-09-02

In [140]:
def check_price():
    url = 'https://www.jumia.com.ng/vejaro-t10-mens-2-in-1-short-sleeve-t-shirt-shorts-set-whiteblack-95053134.html'
    headers =  {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:53.0) Gecko/20100101 Firefox/53.0"}
    page = requests.get(url, headers = headers)
    soup1 = BeautifulSoup(page.content,'html.parser')
    soup2 = BeautifulSoup(soup1.prettify(), 'html.parser')
    title = soup2.find('h1', class_='-fs20 -pts -pbxs').get_text().strip()
    price = soup2.find('span', class_='-b -ltr -tal -fs24').get_text().strip()[2:]
    
    
    import datetime
    today = datetime.date.today()

    # csv file
    import csv
    header = ['Title','Price','Date']
    data = [title,price,today]

    with open('jumiawebscraper.csv', 'a+', newline='', encoding = 'UTF8') as f:
        writer = csv.writer(f)
        writer.writerow(data)

In [ ]:
while(True):
    check_price()
    time.sleep(86400)

In [145]:
df = pd.read_csv('jumiawebscraper.csv')  
df

                                               Title  Price        Date
0  VEJARO T10  Men's 2 In 1 Short Sleeve T-Shirt ...  3,880  2022-09-02
1  VEJARO T10  Men's 2 In 1 Short Sleeve T-Shirt ...  3,880  2022-09-02
2  VEJARO T10  Men's 2 In 1 Short Sleeve T-Shirt ...  3,880  2022-09-02
3  VEJARO T10  Men's 2 In 1 Short Sleeve T-Shirt ...  3,880  2022-09-02
4  VEJARO T10  Men's 2 In 1 Short Sleeve T-Shirt ...  3,880  2022-09-04
5  VEJARO T10  Men's 2 In 1 Short Sleeve T-Shirt ...  3,880  2022-09-04
6  VEJARO T10  Men's 2 In 1 Short Sleeve T-Shirt ...  3,880  2022-09-04
7  VEJARO T10  Men's 2 In 1 Short Sleeve T-Shirt ...  3,880  2022-09-04
8  VEJARO T10  Men's 2 In 1 Short Sleeve T-Shirt ...  3,880  2022-09-04
9  VEJARO T10  Men's 2 In 1 Short Sleeve T-Shirt ...  3,880  2022-09-04